* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  .container {
    min-height: 100%;
  }
  
  .header {
    height: 200px;
    background-color:darksalmon;
    min-width: 800px;
  }

.nav {
      width: 200px;
      height: 200px;
    background-color: lightcoral;
    float: left;
  }

  .main {
    background-color: darkblue;
    color:white;
    margin-left: 200px;
    min-width: 600px;
  }

  .footer {
    height: 200px;
    background-color: navajowhite;
    margin-top: -200px;
  }
   .clr {
     clear: both;
     height: 200px;
   }