* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 200px;
    background-color: darkcyan;
}
.ifa {
    background-color: darkgray
}
.mwc {
    background-color: burlywood;
}

.footer {
    height: 200px;
    background-color: dimgrey;
}